.heading {
  font-family: Bree Serif;
  font-size: 32px;
  color: rgb(255, 187, 0);
  font-weight: bold;
}

.bg-container {
  background-image: url('https://media.istockphoto.com/id/1390650720/photo/digital-network-connection-abstract-connection-of-dots-and-lines-technology-background-plexus.jpg?s=612x612&w=0&k=20&c=mX3Pe2x4I6ZQp5S6m9kOPo6CIiUB7lB82nD8T0vnEAI=');
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-family: Bree Serif;
  font-size: 18px;
  color: rgb(255, 187, 0); 
  align-self: flex-start;
  font-weight: bold;
}

.input-elements {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
  padding-left: 10px;
  width: 350px;
  margin-bottom: 15px;
}

.add-button {
  background: linear-gradient(135deg, #4cafef, #007bff);
  color: white;
  padding: 10px 20px;
  margin-top: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}